
@model GarageApp_2._0.Models.ViewModel.Receipt

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Html.ActionLink("Receipt", "Receipt")

</p>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Type)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Type)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RegNr)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RegNr)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Color)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Color)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ParkedTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ParkedTime)
    </dd>

    <dt>
            @Html.DisplayNameFor(model => model.CheckoutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckoutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>



</dl>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-lg-12 col-lg-offset-2">
        <input type="submit" value="CheckOut" class="btn btn-success" />
    </div>
<div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
